.header{
    text-align: center;
    padding: 10px;
    color: aliceblue;
}
.main{
    background-color: black;
}

.match{
    align-items: center;
}
#type{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.match{
    display: flex;
    justify-content: center;
    margin-top: -33rem;
}
#opp1, #opp2, .vs{
    padding: 7px;
    color: lightsalmon;
}

.main_layer{
    background-color:rgb(38, 37, 35);
    font-size: 1rem;
    width: 50%;
    position: absolute;
    top: 17rem;
    left: 16rem;
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
}

hr{
    border: 1px dotted whitesmoke;
    width: 54px;
    margin: auto;
    border-width: 9px;
    border-bottom: none;
}
.scorebord{
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 36px;
}
